@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    --primary-color : #FFC9FF;

    --secondary-color :
    #E8E8E8;

}

body{
    background-color: var(--primary-color);
    
    font-family: 'Quicksand';
}

.navig {
background-color: white;
padding: 0.5rem 3rem;
border-bottom-left-radius: 3rem ;
border-top-right-radius: 3rem;
display: block;
height: 9rem;
}

.navig .navig-style{
    float: right;
    list-style: none;
    text-decoration: none;

}

.navig .navig-style .item-inline{
    padding: 0rem .25rem;
    display: inline;
}

.navig .navig-style .link{
    text-decoration: none;

}

.head{
    text-align: center;
}

.section1{
    text-align: center;
    max-width: 600px ;
    padding: 1rem 3rem;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
}

.section2{
    text-align: center;
    max-width: 600px;
    margin: auto;
    background-color: #E8E8E8;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.footer{
    display: block;
    background-color: white;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 10rem;
    text-align: center;
}
.footer h2{
  padding-top: 1rem;
}
.footer .listing{
    list-style: none;
    display: inline-flex;
    padding-inline-start: 0px;
 
}

.footer .listing .listing_link{
    padding: .75rem .75rem;
    border: black solid;
    border-radius: 5rem;
    margin: 0rem 1rem;
    background-color: var(--primary-color);

   
}

.txtarea{
    display: block;
    width: 85%;
    height: 15vh;
    padding: 1rem 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
    border: solid var(--primary-color) .3rem;
    border-style: dotted;
}

#btn-pressed{
    margin-left: 2rem; 
    margin-top: 3rem;
    padding: 1rem 1rem;
    background-color: var(--secondary-color);
    font-family: 'Quicksand';
    font-size: 1rem;
    border: solid white .25rem;

}