@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
    --primary-color : #FFC9FF;

    --secondary-color :
    #E8E8E8;

    --syntax-background-color: #08090a;

    --syntax-text-color: #f8f8f2;

}

body{
    background-color: var(--primary-color);
    
    font-family: 'Quicksand';
}

.navig {
background-color: white;
padding: 0.5rem 3rem;
border-bottom-left-radius: 3rem ;
border-top-right-radius: 3rem;
display: block;
height: 9rem;
}

.navig .navig-style{
    float: right;
    list-style: none;
    text-decoration: none;

}

.navig .navig-style .item-inline{
    padding: 0rem .25rem;
    display: inline;
}

.navig .navig-style .link{
    text-decoration: none;

}

.head{
    text-align: center;
}

.section1{
    text-align: center;
    max-width: 600px ;
    padding: 1rem 3rem;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
}

.section2{
    text-align: center;
    max-width: 600px;
    margin: auto;
    background-color: #E8E8E8;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.footer{
    display: block;
    background-color: white;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 10rem;
    text-align: center;
}
.footer h2{
  padding-top: 1rem;
}
.footer .listing{
    list-style: none;
    display: inline-flex;
    padding-inline-start: 0px;
 
}

.footer .listing .listing_link{
    padding: .75rem .75rem;
    border: black solid;
    border-radius: 5rem;
    margin: 0rem 1rem;
    background-color: var(--primary-color);

   
}

#txtarea{
    border: dotted var(--secondary-color) .35rem;
    max-width: 85%;
    margin: auto;
    padding: 1rem 1rem;
    background-image:url("undraw.svg");
    height: 15rem;
    position: relative; 
    background-position: center;
    background-size: 15rem 15rem; 
    background-repeat: no-repeat;
}

#btn-pressed{
    margin-left: .2rem; 
    margin-top: 1rem;
    padding: 1rem .3rem;
    background-color: var(--syntax-text-color);
    font-family: 'Quicksand';
    font-size: 1rem;
    border: solid white .25rem;

}

#selectBox{
    margin-left: 2rem; 
    margin-top: 2rem;
    padding: 1rem 1rem;
    font-family: 'Quicksand';
    font-size: 1rem;
    border: solid white .25rem;
    background-color: var(--secondary-color);
}

#myDate{
    margin-left: .2rem; 
    margin-top: 2rem;
    padding: 1rem 1rem;
    font-family: 'Quicksand';
    font-size: 1rem;
    border: solid white .25rem;
    background-color: var(--secondary-color);
}

h2{
    font-family: 'Quicksand';
    margin-left: 2rem;
}

#output{
    border: dotted black .3rem;
    height: 15vh;
    max-width: 85%;
    background-color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 1rem;
}

code {
    background: rgba(0,0,0,0.1);
    color: var(--color-body-color);
    border-radius: var(--radius);
    max-width: 100%;
    font-size: 80%;
    padding: 0.1em 0.25em;
}

.highlight {
    background: var(--syntax-background-color);
    color: var(--syntax-text-color);
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}